/.github         export-ignore
/tests           export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/phpunit.xml     export-ignore
/renovate.json5  export-ignore
/tests/files/encoding/** -text
/tests/files/vobsub/** -text
